
.homepage nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-transparent {
  background: #585858;
  font-size: 1.0em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color:  #ffc815;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.navbar-brand{
  font-size: 1.8em;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
  color: white;
}

.homepage > section.container-fluid,
.homepage > section.container {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.demo1 {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
  background: no-repeat center/cover url('/static/images/instrumentspicture.jpg');
}

.eventslist {
  height: 700px;
  overflow: scroll;
  font-family: 'roboto';
  font-size: 15px;
}


.map {
  height: 700px;

}

.container1 {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
   background: white;

}

.searchrow {
  background: #585858;
}

hr {
  border-top: 1px dashed;
  color: #ffc815;
}

.border-heart{
    color:  #ffc815;
    font-size: 21px;
  }

.selected-heart{
    color:  #ffc815;
    font-size: 22px;
  }


.line-wipe {
  position: relative;
  color: #ffc815;
  text-decoration: none !important;
  display: inline-block;
}

.line-wipe:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid rgb(55, 170, 243);
  transition: 0.5s width;
}

.line-wipe:hover:after {
  width: 100%;
  border-bottom-color: rgb(0, 86, 179);
}

.fade-in-color {
  color: rgb(243, 55, 181);;
  transition: 0.5s color ease;
}

.fade-in-color:hover {
  color: rgb(55, 170, 243);
  text-decoration: none;
}

.searcharea {
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
}

.frontpagetext1 {
  color:   #585858;
  font-family: 'yellowtail';
  font-size: 70px;
}

.frontpagetext2 {
  color: #585858;
  font-family: 'helvetica';
  font-size: 30px;
}

.searchbox {
  color:#585858;
}

