<!doctype html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: #b9d3c2
          }
        </style>

    <title>Events!</title>

<!--     <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css"> -->

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block head %}{% endblock %}
  </head>
  <body>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    {% block body %}

    {% endblock %}

    <script> 



</script>

  </body>
</html>

