
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>

  {% block head %}

  <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 600px;  /* The height is 400 pixels */
        width: 80%;  /* The width is the width of the web page */
       }
    </style>


  <title>MAP</title>

  {% endblock %}
</head>
<body>
  {% block body %}

   <h3>Events Map</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <button type="button" id="button">Find My Location</button>




       <script
      src="https://code.jquery.com/jquery-3.4.1.js"></script>

      <script>

      //You might notice this code uses "var" instead of "const"...this was in the 
      //code I found, and when I tried to change to "const", it broke my code so I 
      //decided to just stick with "var", haha! 


    // initializes map, sets to dom element 'map'
    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      // center: new google.maps.LatLng(51.530616, -0.123125),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });


    // locations list sent from Flask
    var locations = {{ event_locations | tojson }}; 
    console.log(locations)


    //sets variable info window to be a new google maps info window
    var infowindow = new google.maps.InfoWindow();

    // sets marker and list of markers to variables
    var marker, i;
    var markers = new Array();

    // this is similar to a while loop in Python! Keeps looping while i is less than
    //the length of the locations list, adding to i each time through the loop. In each iteration
    //it adds a new marker + sets the position to the lat/lng by indexing into my locations
    //list and specifies where the marker should go (map)...adds marker to marker list each time through
    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][2], locations[i][3]),
        map: map
      });

      markers.push(marker);


      //adds event listening to each marker so that on click, the info window opens, and
      //the content is set to certain things in my locations list (for me, it's venue name and
      // the artists playing at the event)
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0], locations[i][1]);
          infowindow.open(map, marker);
        }
      })(marker, i));


    
      // This part was in the code I found on stack overflow and when I looked it up, it seems that
      //it basically makes it so that when you look at the map you'll be seeing all of the markers
      //and it will zoom out accordingly 
    function AutoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      $.each(markers, function (index, marker) {
      bounds.extend(marker.position);
      });
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    AutoCenter(); 
  }
  }
  

// ** WORKS TO HERE



    // $('#button').on('click', () => {
    //   if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(function(position) {
    //       var pos = {
    //         lat: position.coords.latitude,
    //         lng: position.coords.longitude
    //       };


    //       infoWindow.setPosition(pos);
    //       infoWindow.setContent('You are here.');
    //       infoWindow.open(map);
    //       map.setCenter(pos);
    //     }, function() {
    //       handleLocationError(true, infoWindow, map.getCenter());
    //     });
    //   } else {
    //     // Browser doesn't support Geolocation
    //     handleLocationError(false, infoWindow, map.getCenter());
    //   }
    

    // function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    //   infoWindow.setPosition(pos);
    //   infoWindow.setContent(browserHasGeolocation ?
    //                         'Error: The Geolocation service failed.' :
    //                         'Error: Your browser doesn\'t support geolocation.');
    //   infoWindow.open(map);
    // }





    //   var count=0;


    //   for (count = 0; count < locations.length; count++) {  

    //   var marker = new google.maps.Marker({
    //       position: new google.maps.LatLng(locations[count][1], locations[count][2]),
    //       map: map
    //       });

    //   marker.info = new google.maps.InfoWindow({
    //       content: locations [count][0]
    //       });


    //   google.maps.event.addListener(marker, 'click', function() {  
    //       // this = marker
    //       var marker_map = this.getMap();
    //       this.info.open(marker_map, this);
          // Note: If you call open() without passing a marker, the InfoWindow will use the position specified upon construction through the InfoWindowOptions object literal.
        //   });
        // }








    //   for (const i in locations) {
    //         marker = new google.maps.Marker({
    //           position: {lat: locations[count][1], lng: locations[count][2]},
    //           title: locations[count][0],
    //           map: map});

    //       }
              
          
  
      // var infowindow =  new google.maps.InfoWindow({});
      // var marker, count;
      // for (count = 0; count < locations.length; count++) {
      //     marker = new google.maps.Marker({
      //       position: new google.maps.LatLng(locations[count][1], locations[count][2]),
      //       map: map,
      //       title: locations[count][0]
      //     });

      // google.maps.event.addListener(marker, 'click', (function (marker, count) {
      //       return function () {
      //         infowindow.setContent(locations[count][0]);
      //         infowindow.open(map, marker);
      //       }
      //     })(marker, count));
      //   }
  //*******************************************







  // This is NOT a Google Maps API-related thing. This actually uses a Web
  // API called the Geolocation API. Most browsers have geolocation built-in!
  //
  // For reference, here's documenation on the Geolocation API:
  //     https://developer.mozilla.org/en-US/docs/Web/API/Geolocation
  // $('#button').on('click', () => {
  //   // If the browser has geolocation-capabilities, it'll be stored on a global
  //   // object called `navigator`. (Most modern browsers will have this.)
  //   //
  //   // If `navigator.geolocation` is `undefined`, then your user has a pretty
  //   // old browser :(
  //   if (navigator.geolocation) {
  //     // `navigator.geolocation.getCurrentPosition` takes in two args:
  //     //
  //     // - A function that is called when we successfully get the
  //     //   user's location
  //     //
  //     // - A function that's called when we can't get the user's location
  //     //   (probably because they didn't allow your page to access it)
  //     navigator.geolocation.getCurrentPosition(
  //       // The success function:
  //       (currPosition) => {
  //         alert('Going to your location now!');

  //         map.setCenter({
  //           lat: currPosition.coords.latitude,
  //           lng: currPosition.coords.longitude
  //         });
  //         map.setZoom(18);
  //       },
  //       // The unsuccessful function:
  //       () => {
  //         alert('Unable to get your location :(');
  //       }
  //     );
  //   } else {
  //     alert(`Your browser doesn't support geolocation`);
  //   }
  // });






    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQ4QGcEPRs82Gf_qpRg9UqsLgkxYH0kI&callback=initMap">
    </script>



  {% endblock %}

</body>
</html>