



{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>

  {% block head %}

  <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 600px;  /* The height is 400 pixels */
        width: 80%;  /* The width is the width of the web page */
       }
    </style>


  <title>MAP</title>

  {% endblock %}
</head>
<body>
  {% block body %}

   <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>




       <script
      src="https://code.jquery.com/jquery-3.4.1.js"></script>

      <script>


    // function initMap() {
  // The location of SF and hackbright
      // const sanFrancisco = {lat: 37.7749, lng: -122.4194};
      // const hackBright = {lat: 37.7888, lng: -122.4116};
      

    // // The map, centered at SF
    //   const map = new google.maps.Map(
    //       document.getElementById('map'), {zoom: 10, center: sanFrancisco });
    // // The marker, positioned at SF


      // // set markers for locations
      // const sfMarker = new google.maps.Marker({
      // position: sanFrancisco,
      // title: 'San Francisco',
      // map: map});
// }

      // const hBMarker = new google.maps.Marker({
      // position: hackBright ,
      // title: 'Hackbright',
      // map: map}); 


      // //add event listener to marker
      // sfMarker.addListener('click', () => {
      // alert('You have clicked something');
      // });


      // const sfInfo = new google.maps.InfoWindow({
      // content: '<h1>San Francisco!</h1>'
      // });

      // sfInfo.open(map, sfMarker); 
    
      function initMap () {

         var locations = [
      ['Los Angeles', 34.052235, -118.243683],
      ['Santa Monica', 34.024212, -118.496475],
      ['Redondo Beach', 33.849182, -118.388405],
      ['Newport Beach', 33.628342, -117.927933],
      ['Long Beach', 33.770050, -118.193739]
    ];
 

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(51.530616, -0.123125),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var markers = new Array();

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    function AutoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      $.each(markers, function (index, marker) {
      bounds.extend(marker.position);
      });
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    AutoCenter();
}

    //   var locations = [
    //   ['Los Angeles', 34.052235, -118.243683],
    //   ['Santa Monica', 34.024212, -118.496475],
    //   ['Redondo Beach', 33.849182, -118.388405],
    //   ['Newport Beach', 33.628342, -117.927933],
    //   ['Long Beach', 33.770050, -118.193739]
    // ];


    //   var count=0;


    //   for (count = 0; count < locations.length; count++) {  

    //   var marker = new google.maps.Marker({
    //       position: new google.maps.LatLng(locations[count][1], locations[count][2]),
    //       map: map
    //       });

    //   marker.info = new google.maps.InfoWindow({
    //       content: locations [count][0]
    //       });


    //   google.maps.event.addListener(marker, 'click', function() {  
    //       // this = marker
    //       var marker_map = this.getMap();
    //       this.info.open(marker_map, this);
          // Note: If you call open() without passing a marker, the InfoWindow will use the position specified upon construction through the InfoWindowOptions object literal.
        //   });
        // }








    //   for (const i in locations) {
    //         marker = new google.maps.Marker({
    //           position: {lat: locations[count][1], lng: locations[count][2]},
    //           title: locations[count][0],
    //           map: map});

    //       }
              
          
  
      // var infowindow =  new google.maps.InfoWindow({});
      // var marker, count;
      // for (count = 0; count < locations.length; count++) {
      //     marker = new google.maps.Marker({
      //       position: new google.maps.LatLng(locations[count][1], locations[count][2]),
      //       map: map,
      //       title: locations[count][0]
      //     });

      // google.maps.event.addListener(marker, 'click', (function (marker, count) {
      //       return function () {
      //         infowindow.setContent(locations[count][0]);
      //         infowindow.open(map, marker);
      //       }
      //     })(marker, count));
      //   }
  //*******************************************



  //   function initMap() {
  // // The location of SF and hackbright
  //     const sanFrancisco = {lat: 37.7749, lng: -122.4194};
  //     const hackBright = {lat: 37.7888, lng: -122.4116};
      

  //   // The map, centered at SF
  //     const map = new google.maps.Map(
  //         document.getElementById('map'), {zoom: 10, center: sanFrancisco });

  //   }
  

  // // Apply custom styles to a map. In this example, we just make the
  // // water pink.
  // $('#custom-style').on('click', () => {
  //   const customStyledMap = new google.maps.StyledMapType(
  //     [
  //       {
  //         featureType: 'water',
  //         elementType: 'geometry.fill',
  //         stylers: [{ color: '#ffd1e4' }]
  //       }
  //     ]
  //   );

  //   map.mapTypes.set('map_style', customStyledMap);
  //   map.setMapTypeId('map_style');
  // });


  // Ask user to enter a location. Geocode the location to get its coordinates
  // and drop a marker onto the map.
  // $('#geocode-address').on('click', () => {
  //   const userAddress = prompt('Enter a location');

  //   const geocoder = new google.maps.Geocoder();
  //   geocoder.geocode({ address: userAddress }, (results, status) => {
  //     if (status === 'OK') {
  //       // Get the coordinates of the user's location
  //       const userLocation = results[0].geometry.location;

  //       // Create a marker
  //       const userLocationMarker = new google.maps.Marker({
  //         position: userLocation,
  //         map: map
  //       });

  //       // Zoom in on the geolocated location
  //       map.setCenter(userLocation);
  //       map.setZoom(18);
  //     } else {
  //       alert(`Geocode was unsuccessful for the following reason: ${status}`);
  //     }
  //   });
  // });


  // // Draw a line on the map from Hackbright to Powell Street Station to
  // // Montgomery Station
  // $('#draw-polyline').on('click', () => {
  //   const polyline = new google.maps.Polyline({
  //     path: [
  //       {
  //         lat: 37.7887459,  // Hackbright
  //         lng: -122.4115852
  //       },
  //       {
  //         lat: 37.7844605,  // Powell Street Station
  //         lng: -122.4079702
  //       },
  //       {
  //         lat: 37.7894094,  // Montgomery Station
  //         lng: -122.4013037
  //       },
  //     ],
  //     geodesic: true,
  //     strokeColor: '#ff0000',
  //     strokeOpacity: 1.0,
  //     strokeWeight: 5
  //   });

  //   polyline.setMap(map);
  // });


  // // Display walking directions from Hackbright to Powell Street Station
  // // on the map
  // $('#display-directions').on('click', () => {
  //   const directionsService = new google.maps.DirectionsService();

  //   // The DirectionsRenderer object is in charge of drawing directions
  //   // on maps
  //   const directionsRenderer = new google.maps.DirectionsRenderer();
  //   directionsRenderer.setMap(map);

  //   const hbToPowellRoute = {
  //     origin: {
  //       lat: 37.7887459,
  //       lng: -122.4115852
  //     },
  //     destination: {
  //       lat: 37.7844605,
  //       lng: -122.4079702
  //     },
  //     travelMode: 'WALKING'
  //   };

  //   directionsService.route(hbToPowellRoute, (response, status) => {
  //     if (status === 'OK') {
  //       directionsRenderer.setDirections(response);
  //     } else {
  //       alert(`Directions request unsuccessful due to: ${status}`);
  //     }
  //   });

  // });


  // This is NOT a Google Maps API-related thing. This actually uses a Web
  // API called the Geolocation API. Most browsers have geolocation built-in!
  //
  // For reference, here's documenation on the Geolocation API:
  //     https://developer.mozilla.org/en-US/docs/Web/API/Geolocation
  // $('#geolocate-me').on('click', () => {
  //   // If the browser has geolocation-capabilities, it'll be stored on a global
  //   // object called `navigator`. (Most modern browsers will have this.)
  //   //
  //   // If `navigator.geolocation` is `undefined`, then your user has a pretty
  //   // old browser :(
  //   if (navigator.geolocation) {
  //     // `navigator.geolocation.getCurrentPosition` takes in two args:
  //     //
  //     // - A function that is called when we successfully get the
  //     //   user's location
  //     //
  //     // - A function that's called when we can't get the user's location
  //     //   (probably because they didn't allow your page to access it)
  //     navigator.geolocation.getCurrentPosition(
  //       // The success function:
  //       (currPosition) => {
  //         alert('Going to your location now!');

  //         map.setCenter({
  //           lat: currPosition.coords.latitude,
  //           lng: currPosition.coords.longitude
  //         });
  //         map.setZoom(18);
  //       },
  //       // The unsuccessful function:
  //       () => {
  //         alert('Unable to get your location :(');
  //       }
  //     );
  //   } else {
  //     alert(`Your browser doesn't support geolocation`);
  //   }
  // });






    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY=initMap">
    </script>



  {% endblock %}

</body>
</html>