{% extends 'base.html' %}
{% block head %}

  <style>
       /* Set the size of the div element that contains the map */
       #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       /* display: inline-block;*/
      }
      
       #eventlist {
        height: 700px;
        overflow: scroll;
       }

       .border-heart{
        color: red;
        font-size: 21px;
      }

      .selected-heart{
        color: red;
        font-size: 22px;
      }
    </style>

{% endblock %}
{% block body %}


<h3>Events Map</h3>

  <div id="map"></div><br>

    <h3>Events</h3>

      
        {% for event in close_events %}
          <div id={{ event[4] }}>
            <li>{{ event[0] }}</li>
            <li>{{ event[1] }}</li>
            <li>{{ event[6] }}</li>
            <li> <a href="{{ event[7] }}">Link</a></li>
              {% if session.get('user_id') %}
                <div class='button' id={{ event[4] }} name="events" value={{ event[4] }}><i class="far fa-heart border-heart"></i></div>
              {% endif %}
          </div>
        {% endfor %}

        <div id='eventlist'><script> var events = {{ close_events | tojson }} </script></div>


<script type="text/javascript" src="/static/citysearchmap.js"></script>
<script src="https://kit.fontawesome.com/c00ec74898.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c00ec74898.js" crossorigin="anonymous"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1u15AdnG9Vd7D0uxI5lk5xp9h5UhvQZM&callback=initMap">
</script>



{% endblock %}