{% extends 'base.html' %}
{% block head %}



{% endblock %}
{% block body %}



        <section class="container1 container-fluid">

        <div class="row">

          <div class="col-6" align="center">

            <br>
            <div class='map'id="map"></div><br>
            <br>
            </div>

          <div class="col-6" align="center">
           <br>
           <div class='eventslist' id='eventslist'>
          {% for event in close_events %}
          <div id='{{ event[4] }}'>
             {{ event[0] }}
              <br>
           {{ event[1] }}
           <br>
            {% if event[6] != None %}
            {{ event[6] }}
            <br>
            {% endif %}
            <div class="example-box my-2">
            <a class="line-wipe" href="{{ event[7] }}">Tickets + More Info</a>
            </div>
              {% if session.get('user_id') %}
              <div class='buttons'>
                <div class='button' id={{ event[4] }} name="events" value={{ event[4] }}>Save?  <i class="far fa-heart border-heart"></i></div></div>
                <hr>
              {% endif %}
          </div>
        {% endfor %}

          </div>

          </div>
        </div>
     
      </section>

        <div id='eventlist'><script> var events = {{ close_events | tojson }} </script></div>

  <script>
    var allButtonsOnPage = document.querySelectorAll('.button');

allButtonsOnPage.forEach(function(button) {
  button.addEventListener('click', function() {
    id = this.id
    
    const formInputs = {
      'event_id': id
    }

    $.post('/saveevents', formInputs, (res) => {
      alert('Event has been saved!');
    })
  });
});


$('.button').on('click',function() {
  $(this).find("i").toggleClass("far fas selected-heart border-heart");
  });

</script>


<script type="text/javascript" src="/static/citysearchmap.js"></script>
<script src="https://kit.fontawesome.com/c00ec74898.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c00ec74898.js" crossorigin="anonymous"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1u15AdnG9Vd7D0uxI5lk5xp9h5UhvQZM&callback=initMap">
</script>



{% endblock %}