{% extends 'base.html' %}
{% block head %}


{% endblock %}
{% block body %}




<section class="container1 container-fluid">

        <div class="row">

          <div class="col-6" align="center">

            <br>
            <div class='map'id="map"></div><br>
            <br>
            </div>

          <div class="col-6" align="center">
           <br>
           <div class='eventslist' id='eventslist'>
          {% for event in close_events %}
          <div id='{{ event[4] }}'>
              {{ event[0] }}
              <br>
           {{ event[1] }}
           <br>
            {% if event[6] != None %}
            {{ event[6] }}
            <br>
            {% endif %}
             <div class="example-box my-2">
              <a class="line-wipe" href="{{ event[7] }}">Tickets + More Info</a>
                </div>
              {% if session.get('user_id') %}
              <div class='buttons'>
                <div class='button' id={{ event[4] }} name="events" value={{ event[4] }}><i class="far fa-heart border-heart"></i></div></div>
                <hr>
              {% endif %}
          </div>
        {% endfor %}

          </div>

          </div>
        </div>
     
      </section>

<!--   <div id="map"></div><br> -->

   <!--  <h3>Events</h3>

      
        {% for event in close_events %}
          <div id='{{ event[4] }}'>
            <li>{{ event[0] }}</li>
            <li>{{ event[1] }}</li>
            {% if event[6] != None %}
            <li>{{ event[6] }}</li>
            {% endif %}
            <li> <a href="{{ event[7] }}">Link</a></li>
              {% if session.get('user_id') %}
              <div class='buttons'>
                <div class='button' id={{ event[4] }} name="events" value={{ event[4] }}><i class="far fa-heart border-heart"></i></div></div>
              {% endif %}
          </div>
        {% endfor %}
         -->
  <div id='eventlist'><script> var events = {{ close_events | tojson }} </script></div>
  <div id='position'><script> var currentuserlat = {{ user_lat | tojson }} </script></div>
  <div id='position2'><script> var currentuserlng = {{ user_lng | tojson }} </script></div>


<script type="text/javascript" src="/static/eventsmapscript.js"></script>
<script src="/static/fontawesome-markers.min.js"></script>

<script src="https://kit.fontawesome.com/c00ec74898.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c00ec74898.js" crossorigin="anonymous"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1u15AdnG9Vd7D0uxI5lk5xp9h5UhvQZM&callback=initMap">
</script>

<script>

var allButtonsOnPage = document.querySelectorAll('.button');

allButtonsOnPage.forEach(function(button) {
  button.addEventListener('click', function() {
    id = this.id
    console.log('hello')
    console.log(id)
    
    const formInputs = {
      'event_id': id
    }

    console.log(formInputs)

    $.post('/saveevents', formInputs, (res) => {
      alert('Event has been saved!');
    })

  });
});


$('.button').on('click',function() {
  $(this).find("i").toggleClass("far fas selected-heart border-heart");
});

</script>

{% endblock %}
