{% extends 'base.html' %}

{% block head %}
    

<style>
       /* Set the size of the div element that contains the map */
       #geosearch {
        color: black;
        display: inline-block;
           
       }

       #citysearch {
        color: black;
        display: inline-block;
        
       }  

    /*   #search {
        display: inline-block;
        vertical-align: top;
       }*/
       #mind {
        display: inline-block;

       }

       #maxd {
        display: inline-block;
       }
       

       #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       /* display: inline-block;*/
      }


      .progress {
      position: relative;
      height: 2px;
      display: block;
      width: 100%;
      background-color: white;
      border-radius: 2px;
      background-clip: padding-box;
      /*margin: 0.5rem 0 1rem 0;*/
      overflow: hidden;

    }
    .progress .indeterminate {
background-color:black; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: #2C67B1;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: #2C67B1;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

    @-webkit-keyframes indeterminate {
      0% {
        left: -35%;
        right: 100%; }
      60% {
        left: 100%;
        right: -90%; }
      100% {
        left: 100%;
        right: -90%; } }
    @keyframes indeterminate {
      0% {
        left: -35%;
        right: 100%; }
      60% {
        left: 100%;
        right: -90%; }
      100% {
        left: 100%;
        right: -90%; } }
    @-webkit-keyframes indeterminate-short {
      0% {
        left: -200%;
        right: 100%; }
      60% {
        left: 107%;
        right: -8%; }
      100% {
        left: 107%;
        right: -8%; } }
    @keyframes indeterminate-short {
      0% {
        left: -200%;
        right: 100%; }
      60% {
        left: 107%;
        right: -8%; }
      100% {
        left: 107%;
        right: -8%; } }


</style>



{% endblock %}



{% block body %}


 <!--  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/logout">Logout</a> -->




  <div id="geosearch">

   <form id='#dateform' action="/map">  

      <br>
      <div id="mind">
      Min Date<br>
      <input id="mind" type="date" name="mind" min="min"><br>
    </div>


    <div id="maxd">
      Max Date<br>
     <input id="maxd" type="date" name="maxd" min="min"><br>
   </div>

     <input hidden id="location" type="text" name="location">

    <input id="submit" type="submit" value="Submit">

  </form>

</div>
<br>
<br>




<div class="progress" id="PreLoaderBar">
        <div class="indeterminate"></div>
    </div>


    <div id="map"></div>




  </div>


<script>

document.onreadystatechange = function () {
            if (document.readyState === "complete") {
                console.log(document.readyState);
                document.getElementById("PreLoaderBar").style.display = "none";
            }
        }
</script>







<!--  <script src="/static/maphomescript.js"></script> -->  

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1u15AdnG9Vd7D0uxI5lk5xp9h5UhvQZM&callback=initMap">
</script>

<script src="/static/homescript.js"></script>
<script src="/static/datecitysearch.js"></script>



{% endblock %}




