{% extends 'base.html' %}

{% block head %}
    <style>
       /* Set the size of the div element that contains the map */
       #geosearch {
        color: black;
        display: inline-block;
           
       }

       #citysearch {
        color: black;
        display: inline-block;
        
       }  

       #mind {
        display: inline-block;

       }

       #maxd {
        display: inline-block;
       }
       

       #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       /* display: inline-block;*/
      }

    </style>
{% endblock %}


{% block body %}
<div id="geosearch">
  <form id='#dateform' action="/map"><br>
      <div id="mind">
      Min Date<br>
      <input id="mind" type="date" name="mind" min="min"><br>
      </div>

      <div id="maxd">
      Max Date<br>
      <input id="maxd" type="date" name="maxd" min="min"><br>
      </div>

      <input hidden id="location" type="text" name="location">
      <input id="submit" type="submit" value="Submit">
  </form>
</div>
<br>
<br>
<div id="map"></div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1u15AdnG9Vd7D0uxI5lk5xp9h5UhvQZM&callback=initMap">
</script>

<script src="/static/homescript.js"></script>


{% endblock %}
