{% extends 'base.html' %}

{% block head %}
    <style>
       /* Set the size of the div element that contains the map */
/*       #geosearch {
        color: black;
        display: inline-block;
           
       }

       #citysearch {
        color: black;
        display: inline-block;
        
       }  

       #mind {
        display: inline-block;

       }

       #maxd {
        display: inline-block;
       }
       */

       #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       /* display: inline-block;*/
      }

    </style>
{% endblock %}


{% block body %}

<section class="container1 container-fluid">
<div class="row">
<div id="map"></div>
</div>
    <div class='searcharea'>
      <form id='#dateform' action="/map">
        <div class="row">

          <div class='col-4' align="center">
            <br>
            <div id="mind">
            Min Date: <input id="mind" type="date" name="mind" min="min">
            </div>
          </div>

   
          <div class='col-4' align="center">
            <br>
            <div id="maxd">
            Max Date: <input id="maxd" type="date" name="maxd" min="min">
            </div>
          </div>
         
          <div class='col-3' align="center">
            <br>
            <input hidden id="location" type="text" name="location">
            <input id="submit" type="submit" value="Submit">
          </div>
</div>
      </form>
    </div>
 
</section>




<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1u15AdnG9Vd7D0uxI5lk5xp9h5UhvQZM&callback=initMap">
</script>

<script src="/static/homescript.js"></script>


{% endblock %}
