{% extends 'base.html' %}


{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Live List</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Yellowtail" />



{% endblock %}

{% block body %}

<section class="demo1">

  <div class="row">

    <div class="col-2">
     
    </div>

    <div class="col-8" align="center">
      <div class="frontpagetext1">
    <br>
     Local...Live
   </div>


      <div class="frontpagetext2">
        LiveList is your source for musical events close to home.

    </div>

    </div>

    <div class="col-2">
   
    </div>



</div>

</section>






{% endblock %}
