{% extends 'base.html' %}


{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Live List</title>

    <!-- WARNING
      If you are writing this in Jinja, you'll want to
      link to the absolute path, "/static/" and NOT the
      relative path, "static/"

      We use the relative path so you can open this page in a browser without
      having to run a server.
    -->





{% endblock %}

{% block body %}

<section class="demo1">

  <div class="row">

    <div class="col-6">
     
    </div>

    <div class="col-6">
   
    </div>



</div>

</section>






{% endblock %}
