{% extends 'base.html' %}
{% block head %}

<style>

    .eventslist {
        font-family: 'arial';
        }

</style>/

{% endblock %}
{% block body %}

<section class="container1 container-fluid">
    <div class="row">
    {% if events %}
        <div class="col-12" align="center">
            <div class="eventslist">
                {% for event in events %}
                <div id='event' class='event'>
                    <br>
                    {{ event.event_name }}<br>
                    {{ event.event_venue }}<br>
                    {{ event.event_date }} /
                    {{ event.event_time }}<br>
                    <div class="example-box my-2">
                    <a class="line-wipe" href="{{ event.event_url }}">Tickets + More Info</a>
                    </div>

                    <form action='/showme'>
                        <input type="hidden" value={{ event.event_id }} name="event" id="event">
                        <button type='submit' id={{ event.event_id }} name='event' value={{ event.event_id }}>Take Me There!</button>
                    </form>

                          <form action='/sendalert'>
                        <input type="hidden" value={{ event.event_id }} name="event" id="event">
                        <button type='submit' id={{ event.event_id }} name='event' value={{ event.event_id }}>Send Alert</button>
                    </form>

                    <div class='buttons'>
                        <br>
                        <div class='button' id={{ event.event_id }} name="events" value={{ event.event_id }}> Remove Event?
                        <i class="fas fa-heart selected-heart"></i></div>
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div>
    {% else %}
        You have not saved any events yet, or your events have already passed! 
    {% endif %}
    </div>
    </div>
</section>

<script>

var allButtonsOnPage = document.querySelectorAll('.button');

allButtonsOnPage.forEach(function(button) {
  button.addEventListener('click', function() {
    id = this.id
    console.log('hello')
    console.log(id)
    
    const formInputs = {
      'event_id': id
    }

    console.log(formInputs)

    $.post('/removeevents', formInputs, (res) => {
    console.log('You have removed an event!')
    location.reload();
    })
  });
});

</script>

{% endblock %}